@import "tailwindcss";

:root {
    --bg: #0b0d14;
    --bgv2: #111827;

    --texttitlev1: #2674e0;
    --texttitlev2: #51B8EC;
    --text: #878e9b;
}

body {
    color: white;
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg);
    position: relative;
    z-index: 0;
}

h1 {
    font-family: "Playfair Display";
    font-weight: 300;
    letter-spacing: -1px;
}